;

#ffffff: #ffffff;
#fafafa: #fafafa;
#f0f0f0: #f0f0f0;


$text-color-1st: #000000;
$text-color-2nd: #545454;


#26943b: #26943b;
#fff6f6: #fff6f6;
#f6fff6: #f6fff6;

$area-color-R: #fc5b57;
$area-color-G: #57c038;

// #f3f3f3 : #1e2430;

// #ffffff : #323f52;
// #fafafa : #2b3846;
// #f0f0f0 : #2b3846;

// #dddddd : #dddddd;

// $text-color-1st : #eddaa8;
// $text-color-2nd : #f6ebd1;

// $text-color-R : #ff272a;
// #26943b : #26943b;
// #fff6f6 : #dc5132;
// #f6fff6 : #54c1b4;

// $area-color-R : #fc5b57;
// $area-color-G : #57c038;

